extends layouts/default

block content
  section#top
    article.intro
      h1 My Gulp Sample Page
      p This is index page.
      img(src="images/JFQJFQJJFAS.png")
      p: a(href="./about.html") About
