doctype html
html(lang="ja")
  head
    title Sample Index page
    meta(charset="uft-8")
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src="js/main.js")
    link(rel="stylesheet" href="css/main.css")
  body
    header
      
    main
      block content
      
    footer
